.navbar {
  font-family: "Plus Jakarta Sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: white;
  padding: 0.8rem 20rem;
  font-family: "Inter", sans-serif;
  position: fixed;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  font-weight: 500;
  font-size: 0.95rem;
  align-items: center;
}

.navbar a:hover {
  color: #ccc;
}

.logo {
  font-size: 2rem;
  font-weight: 400;
  align-self: center;
}

.signup-btn {
  background: white;
  color: black !important;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
}

.signup-btn:hover {
  background: #e5e5e5;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0.8rem 10rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem 2rem;
    flex-wrap: wrap;
  }

  .navbar-left,
  .navbar-right {
    gap: 1rem;
  }

  .navbar a {
    margin-right: 1rem;
    font-size: 0.9rem;
  }

  .logo {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.8rem 1rem;
  }

  .navbar a {
    margin-right: 0.5rem;
    font-size: 0.85rem;
  }

  .logo {
    font-size: 3rem;
  }

  .signup-btn {
    padding: 5px 12px;
    font-size: 0.85rem;
  }
}
